aclocal.m4
app.info
/autom4te.cache/
compile
/config/
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
Makefile
Makefile.in
missing
stamp-h1
.deps
*~
*.a
*.gcda
*.gcno
*.html
*.la
*.lo
*.log
*.o
*.so*
*.tar*
*.zip
src/indicator-xkbmod
