[Desktop Entry]
Name=Gnome XKB Mod Indicator
Comment=Shows keyboard modifiers state
Keywords=xkb,modifiers,keyboard,stiky,keys
Exec=indicator-xkbmod -l
Icon=indicator-xkbmod
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=GNOME;
Categories=GTK;Utility;
